<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Replies</title>
  </head>
  <body>
    <div class="main"></div>

    <script>
      const main = document.querySelector(".main");

      const from = document.querySelector(".from");
      const question = document.querySelector(".question");
      const answer = document.querySelector(".answer");

      const fetchReplies = async () => {
        const replies = await fetch("/replies");
        const data = await replies.json();

        console.log(data[0]);

        for (let i = 0; i < data.length; i++) {
          const html = `

              from: ${data[i].from}
              question: ${data[i].question}

              answer: ${data[i].answer}

              --------------------------
            `;

          main.innerText += `${html}`;
        }
      };

      fetchReplies();
    </script>
  </body>
</html>
